<% include partials/header %>
<h1>Add Customer</h1>
  <% if(errors != undefined) { %>
      <ul>
        <% errors.forEach(function(error){ %>
          <li><%= error.msg %></li>
        <%})%>
      </ul>
  <%}%>
<form method="POST" action="/users/add">
  <label>First Name</label>
  <br>
  <input type="text" name="firstName">
  <br>
  <label>Last Name</label>
  <br>
  <input type="text" name="lastName">
  <br>
  <label>Email</label>
  <br>
  <input type="text" name="email">
  <br><br>
  <input type="submit" value="Submit"/>
</form>
<h1><%= title %></h1>
<ul>
  <% users.forEach(function(user) { %>
    <li><%= user.firstName %> <%= user.lastName %>
    <a href="#" class="deleteUser" data-id="<%= user._id %>">-Delete</a></li>
  <% }) %>
</ul>
<% include partials/footer %>
